# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
.venv/
env/
venv/

# VSCode & PyCharm
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Logs
*.log

# Environments & dotenv
.env
.env.local
.env.prod

# MyPy
.mypy_cache/

# Pytest
.cache/

# Coverage
htmlcov/
.coverage
coverage.xml
*.cover

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Watchfiles debug state
.watchfiles*

# Local database / SQLite / DB dumps (if any)
*.sqlite3
*.db
*.bak
*.sql
*.dump
