dotenv~=0.9.9
aiogram~=3.21.0
aiohttp
psycopg2-binary
sqlalchemy~=2.0.41
watchfiles~=1.1.0
python-dotenv~=1.1.1
alembic~=1.16.4
certifi~=2025.7.14
asyncpg
websockets~=15.0.1
httpx~=0.28.1
pytest~=9.0.2
openai~=2.14.0